<div class="container">
  <h1><p align="center" style="color: red; font-family: 'Times New Roman', Times, serif;">Types de residence</p></h1>
  <td><a class="btn btn-success" [routerLink]="['/addtyperesidence']">Ajouter</a></td><br/>
  <br/>
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">TYPE</th>
    </tr>
  </thead>
  <tbody *ngFor="let type of typeResidence">
    <tr>
      <td>{{type.idTypeResidence}}</td>
      <td>{{type.libeleTypeResidence}}</td>
      <td><a class="btn btn-danger" (click)="supprimerTypeResidence(type)">Supprimer</a></td>
      <td><a class="btn btn-success" [routerLink]="['/updatetyperesidence',type.idTypeResidence]">Modifier</a></td>
    </tr>
  </tbody>
      </table>
</div>
</div>
</div>
